.skills_title h4{
	margin-top: 50px;
	padding: 30px;
	font-size: calc(1vw + 1rem);
	color: #032729;
}

.skills_title h4:after{
	margin-top: 15px;
	display: block;
	font-size: calc(0.2vw + 0.8rem);;
	font-weight: 400;
	content: 'I went through many different works, but I prefer most these skills.';
}

.skill_item{
	transition: 0.5s;
	background-size: 500px;
	background-position: center;
	padding: 10px;
	margin: 0 5px 70px 0;
	height: 250px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill_item:before{
	transition: 0.5s;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(1, 35, 40,0.8);
}

.skill_item:hover:before{
	background-color: rgba(1, 35, 40,0);
}

.skill_item:hover{
	background-size: 550px;
}

.skill_item div{
	text-align: center;
	position: absolute;
	color: #fff;
	z-index: 1;
}

.skill_item i{
	font-size: 2rem;
}

@media (max-width: 750px){

	.skills_title h4{
		margin-top: 20px;
	}

	.skill_item{
		margin-bottom: 20px;
	}
}
