.footer{
	height: 200px;
	color: #fff;
	background-color: #045965;
	background-image: url('/images/background.png');
	background-size: 100vw;
}

.social{
	margin-top: 50px; 
}

.social i{
	margin-top: 20px; 
	font-size: 2.5rem;
}

.social a{
	color: #fff;
}