.transition-enter {
	transition: all 0.3s;
  	opacity: 0;
}

.transition-enter-active {
  	opacity: 1;
}

.transition-exit {
  	opacity: 1;
}

.transition-exit-active {
	position: absolute;
	display: none;
  	opacity: 0;
}